[2014-01-16 18:39] rickydazla opened #1 "Collection picker showing up uninvited"
Jason! It seems that the Collection picker drop-down shows up for custom_fields even when it is not specified using the marker. Hoping this is a quick fix?

[2014-01-18 08:47] #1 closed, assigned to freakdesign

[2014-03-21 04:46] freakdesign opened #3 "Using the c_f namespace results in fields not being populated."
Issue noted on the Shopify forums:
https://ecommerce.shopify.com/c/ecommerce-design/t/adding-custom-fields-to-the-shopify-dashboard-159136#comment-184025

[2014-03-21 05:05] #3 closed, assigned to freakdesign

[2014-05-29 00:50] dominikwilkowski opened #4 "Open source"
Hey there,

this is a fantastic idea and a great tool. I would love to help in the development or otherwise but first:

Would you consider adding the source up as a unminified version?

I mean jsbeautifier.org can only take it so far ;)

[2014-05-29 21:09] vikramrojo opened #5 "Custom Fields no longer appearing"
Hi Jason, Been using the Custom Fields but it has stopped working on our store. I tried reinstalling the Chrome Extension on two computers but no luck. ShopifyFD however still shows the custom fields.

![screen shot 2014-05-29 at 2 07 09 pm](https://cloud.githubusercontent.com/assets/1778311/3123703/794253fe-e775-11e3-9d63-a7968c6868c0.png)

[2014-05-30 01:33] #5 closed, assigned to freakdesign

[2014-06-02 23:33] jenadam opened #6 "No custom fields found"
![screen shot 2014-06-02 at 3 53 32 pm](https://cloud.githubusercontent.com/assets/6003541/3154612/d42b4e0c-eaad-11e3-895f-8ee06e532534.png)
I've been using the chrome extension (with Shopify dashboard tool) for over a month with no issues, but now suddenly it is showing "no custom fields found" in my product pages. The custom metafield is correctly inputted in general settings. I removed the exte

[2014-06-02 23:43] #6 closed, assigned to freakdesign

[2014-06-27 11:33] freakdesign opened #7 "Custom Fields On panel does not always show"
The sidebar menu is sometimes regenerated - depending on the current view - so the pink panel is flushed from the dom. Will start checking to see if the panel exists on each view load, or just move it out of the sidebar.

Also, The sidebar menu is not consistent between views so the elements we are targeting are not always available. Will add some fallbacks for this.

[2014-06-27 11:36] freakdesign opened #8 "Save with Custom Fields button not appear on Edit Order"
Minor html changes on Shopify side have impacted us here. Will adjust the code to be in line with current html.

[2014-06-27 14:32] #7 closed, assigned to freakdesign

[2014-12-14 05:01] freakdesign opened #9 "Add field ordering"
See the post on the forums for more info.
https://ecommerce.shopify.com/c/ecommerce-design/t/adding-custom-fields-to-the-shopify-dashboard-159136#comment-223235

[2015-01-13 15:22] freakdesign opened #10 "Spaces in key name can result in missing fields"
Must add some better checks to handle the spaces in the metafield 'key name'.

[2015-03-10 22:35] oksushi opened #11 "New Product page layout errors"
Shopify have just launched a new Product screen inside the admin, and it breaks the Custom Field tool:

`Custom Fields error : setup_custom_fields() : target html not found`

Screenshot:
![screenshot 2015-03-11 09 32 53](https://cloud.githubusercontent.com/assets/466722/6586880/b7a65ee6-c7d1-11e4-8e39-e9dd58f2345c.png)

I don’t know how widespread the new Product screen layout is yet

[2015-03-10 22:59] freakdesign commented on #11
The fix for this has been ready to go for a while/

As of yesterday 5% of current users and 10% of new shops got the new layout. Don't expect it to be long before all get it. Once the rollout is complete I'll push a new update here, and to the main CDN. I know plenty of people still grab and use the files directly from here (rather than the CDN) so I've got to be a bit careful on when I update it.

[2015-03-11 20:46] codyyc opened #12 "Dropdown and datepicker fields"
Hey,

I was just wondering if you had considered (or if it is even technically possible) to have dropdown fields with pre-defined options or datepicker fields?

[2015-03-11 23:50] freakdesign commented on #11
Looks like the rollout is now beyond 50% so I'll push an update to git shortly, with the cdn to be updated at the end of the day.

[2015-03-11 23:59] #11 closed

[2015-03-12 16:35] colinbrogan commented on #12
I'd like to second cody in the usefulness of this feature. I would try to implement these myself, but the js is minified. Jason, would you happen to be able to get me the source js? I could make a branch of this project and try my hand at adding a few features.

[2015-03-12 17:39] colinbrogan commented on #12
I'll go ahead and give you my email address, in the event that you want to release your source js in the wild:
colinbrogan@gmail.com

[2015-03-12 19:46] codyyc commented on #12
I'd happily help out and contribute too.

Following this format, I'd also add

[_d?format=DD/MM/YYYY]

Which could just be interpreted by jQuery datepicker.

[2015-03-17 11:37] #8 closed

[2015-03-17 11:45] freakdesign opened #13 "Incorrect path in Variant based metafields"
A bug has crept in that's resulting in an incorrect path being passed as the endpoint for the metafield GET. We pull the base from other paths within the table row so we'll need to shift to something a little more resilient.

[2015-03-17 12:03] #13 closed

[2015-03-17 16:13] freakdesign opened #14 "Variant custom field can't be edited if there's only one variant."
As the subject says, when there is only one variant the ability to edit the variant based custom field fails (since the variant table no longer exists on this view).

[2015-03-17 17:19] freakdesign commented on #14
Workaround - albeit a clunky one - has been added.

![2015-03-18 03 17 13](https://cloud.githubusercontent.com/assets/1378665/6693290/9380a76e-cd1d-11e4-82fd-daf0d14cf86a.png)

[2015-03-17 17:23] #14 closed

[2015-04-01 19:22] nitriques opened #15 "Support empty values"
I think it would be cool to support empty values.

Is shopify not supporting it ?

BTW, great work on that !

[2015-04-01 23:38] freakdesign commented on #15
As far as I know you can not create a blank metafield - it must have a value.
Blank in this case is the same as non-existent, so when a custom field is emptied the tool deletes the metafield.

[2015-04-02 18:21] nitriques commented on #15
Ok thanks!

[2015-04-02 18:21] #15 closed

[2015-05-22 11:24] mguikema opened #16 "No custom fields found"
![shopify-admin-pdp](https://cloud.githubusercontent.com/assets/1019329/7769507/91c462b8-0084-11e5-9b0f-65bcefefaa41.png)
We have been using the plugin for Shopify for a couple of months now with no issues. But last week the metafields are not visible/editable anymore. Could this have to do with the latest Shopify admin interface update?  Could you help us out with the issue?

[2015-05-23 05:00] freakdesign commented on #16
Can you confirm that you are using the [latest version](http://freakdesign.com.au/pages/shopify-custom-fields) served from the CDN (and not github)? Are you using the Chrome extension or bookmarklet?

I've tested it here and don't see that issue. If you are 100% sure that you've setup the fields to show on products and no longer see the fields I have to wonder if you are running an old version.

[2015-05-27 02:21] freakdesign opened #17 "Collection page fails to load CF"
Minor adjustments needed to handle changes in the admin structure on collection pages. Resulting error is Custom Fields error : setup_custom_fields() : target html not found.

[2015-05-27 03:58] #17 closed

[2015-05-29 09:02] mguikema commented on #16
Sorry for the late response.
I'm using the Chrome extension v0.0.4. For Chrome Version 43.0.2357.65 beta (64-bit) on osx 10.9.5.
I'm not getting any errors. Our content editor had the same problem with the extension. And they updated the extension trying to fix the problem, so they must have the same version.

[2015-05-29 09:21] freakdesign commented on #16
As far as I can see the extension is working correctly. I've tested on various platforms and stores without issue. Show me a screen capture of how you've set up the initial metafields at store level.

[2015-05-29 11:02] mguikema commented on #16
I'm sorry. I made was under the impression that our client was using the shopify-custom-fields extension. But i was wrong, they where using the Shopify FD extension. When i activate this extension, it's working again. I'm very sorry for your time.

[2015-05-29 17:11] freakdesign commented on #16
No problem! Glad you figured it out ;)

[2015-05-29 17:11] #16 closed

[2015-06-03 18:39] thendrickson opened #18 "[Feature Request] Limit display to a certain product type"
It would be valuable if certain custom fields are only available on certain product types

[2015-06-04 01:10] freakdesign commented on #18
I can't see why this would be a huge deal to add in but it would just make those markers a bit more complex. I guess it would have to be something like: [p:type=Some Type].

Then of course comes the issue of what happens when you want two types:
[p:type=Some Type,Another type]

Curious idea for sure. I'll give some thought to various ways this could be done. Future versions of the tool will use a

[2015-06-17 08:34] freakdesign opened #19 "Increase metafield support beyond 250"
Some stores using Langify are finding that they are quickly hitting 250+ metafields. This means that some metafields can't be shown using the extension when they fallout outside of that initial 250 group.

Custom Fields has never bothered to grab any more than 250 (which was deemed to be a reasonable limit), so an update is needed to get more.

[2015-06-22 01:16] martinheidegger commented on #4
1 year+ ago...

[2015-06-22 02:38] freakdesign commented on #4
Yes, this question is over a year old.
:birthday:

Since the age of the question may be of concern to people let's close it. The OS plan exists, but no sense getting peoples hopes up on a date, especially when there's a new version in the works.

[2015-06-22 02:38] #4 closed

[2015-07-19 13:13] freakdesign opened #20 "Custom Fields no longer show on single variant products"
A bug has crept in preventing custom fields being able to be loaded when there's just the one default variant. The button appears (although it looks a bit ordinary too) but there's no action.

![2015-07-19 23 12 35](https://cloud.githubusercontent.com/assets/1378665/8766014/bdd3a106-2e6b-11e5-99e5-72e4bf23b267.png)

Will fix.

[2015-07-20 04:16] #20 closed

[2015-09-05 09:56] freakdesign opened #21 "Add support for a checkbox field"
A few people have asked (with good reasons) to have a checkbox field added for simple Boolean control. I can see the value in this so will strive to include such a field in the next update.

[2015-09-29 22:53] amandagarceau opened #22 "Custom Fields error : setup_custom_fields() : target html not found"
![error-with-blog-posts](https://cloud.githubusercontent.com/assets/7940480/10180382/7896f8a2-66c1-11e5-85d7-8919242630ec.jpg)

This issue appears to be new, since it was working about a week ago (I also noticed there was an update to your extension about a week ago as well.)

I've tried this in 2 completely separate Shopify stores, resulting in the same error messages.

On blog posts within Shopi

[2015-09-29 22:57] amandagarceau commented on #22
Ah, just saw your update over here:
https://github.com/freakdesign/shopifyFD/issues/38

Closing this version of  the bug.

[2015-09-29 22:57] #22 closed

[2015-10-08 20:40] colinbrogan opened #23 "Safari bookmarklet problems"
Hi, the bookmarklet for this, which I have been using for 5 months successfully, today stopped working giving the following problem:
Refused to load the script 'https://freakdesign-us.s3.amazonaws.com/shopify/custom_fields/beta/freakdesign_custom_fields_beta.js' because it violates the following Content Security Policy directive: "script-src https://cdn.shopify.com https://js-agent.newrelic.com ht

[2015-10-16 13:06] jakeleboeuf opened #24 "Upload fields?"
Are upload fields (thinking images/slideshows) anywhere in the roadmap?

[2015-11-06 21:20] er1 opened #25 "Namespaces with the same name key are not populated correctly."
Fields which have the same key name but different namespaces are not populated correctly. One value is repeated across all fields with the same key name. This is only an issue with reading, writing works as expected the proper values however since the values were read wrong the old values get clobbered.

Reproduce by defining fields `c_f.test` and `custom_fields.test`. Go to a product and set both

[2015-11-07 03:51] freakdesign commented on #25
Yeah, I can see why that might be an issue. The custom_fields and c_f namespaces are considered to be the same thing (for legacy support when I changed the default namespace). There's nothing clever in place to see them as different.

I see how this can be a problem if someone does have both in place. Worth marking as a bug to finally better handle that. Thanks for the heads up.

[2015-12-30 01:31] HandHugs opened #26 "Unable to load fields on blog articles"
I am unable to load any custom fields on a new blog article. I can set them in settings now (thanks!) and see them on products, but not on any articles. I tried removing the [a] but it didn't make a difference.

[2016-02-13 22:17] impartdan opened #27 "setup_custom_fields() : target html not found"
Recently started getting this error on when editing pages.
`Custom Fields error : setup_custom_fields() : target html not found`
Has anyone else experienced this?

[2016-02-14 15:25] #26 closed

[2016-02-14 15:26] #27 closed

[2016-02-15 01:11] freakdesign opened #28 "Add date field support"
Nice and simple really. Add in the ability to use a HTML5 date field.

[2016-02-15 07:34] freakdesign commented on #24
I am closing this one for now since there's no files API in place on Shopify side. Will re-open when that restriction is gone.

[2016-02-15 07:34] #24 closed

[2016-02-15 07:36] #28 closed

[2016-02-15 07:37] freakdesign commented on #28
The new markers added are `[_n]` for a number field and `[_d]` for a date field.

[2016-03-09 03:53] chrismmmmm opened #29 "[v] varient fields no longer showing / editable in admin"
variant option custom fields are no longer showing as editable in product admin

[2016-03-09 14:36] freakdesign commented on #29
Thanks for the issue report @chrismmmmm.
I can replicate this as well so I'll prep a fix soon.

[2016-03-10 14:00] #29 closed

[2016-04-01 14:54] softlimit opened #30 "CF not loading variant meta-fields on products"
Seems like something has changed in the past couple days as CF is not loading variant meta-fields on products all of the sudden. Any idea if this is a major rollout change that needs to be adjusted for or something else?

And, as always, thanks for making this very major and necessary extension!

[2016-04-02 06:41] freakdesign commented on #30
Thanks for the issue report @softlimit - I'll take a look at this now and see what's going on.

[2016-04-02 14:25] softlimit commented on #30
@freakdesign Amazing. Thank you!

[2016-04-05 02:12] julbr opened #31 "Custom Fields installed but not able to add shop level metafield"
I've installed the Chrome extension (also tried the bookmarklet on Safari), and I see the section 'Custom Fields' in the Admin product page `/admin/products/xxx`, which shows "No custom fields found".
When I go to `/admin/settings/general` though, there is not `Custom Fields` section...
So i'm stuck without being able to add shop level metafield.
Any suggestions? Thanks a lot! Your tool looks grea

[2016-04-05 02:33] freakdesign commented on #31
The Custom Fields tool was originally conceived as a tool that developers might give to their clients. As such, the developer would add the setup metafields **before** handing the project over to the client so the client just had to run to tool and go (and not worry about the setup side).

If you need to add the setup metafields you could use:

- ShopifyFD,
- another metafield editor of your choos

[2016-04-05 11:23] julbr commented on #31
All is clear now!

[2016-04-05 11:23] #31 closed

[2016-06-03 08:43] yeomann opened #32 "No custom fields found"
I have created meta field under General > Store Metafields using ShopifyFD but i can't see any custom field under product. Any help would be appreciated!

[2016-06-03 09:09] freakdesign commented on #32
Hey @yeomann,

Can you post the details of the metafield you created under `/admin/settings/general`?
That will let me try and replicate the problem you might be having.

Also,
- Are you using the bookmarklet or Chrome extension?
- Do you see any errors? If so, what are they?
- When you "can't see any custom field" are you seeing any Custom Fields UI on the page?

[2016-06-03 12:45] dexcell commented on #32
Hi, i have the same issue. (First time user, so i may did something wrong)

Hello,
I even don't see anything on `/admin/settings/general`

On My product item page it's shown like this.
![screen shot 2016-06-03 at 7 38 31 pm](https://cloud.githubusercontent.com/assets/41800/15778871/35bd22c0-29c3-11e6-9a2d-d0993bb79b17.png)

So i went to another app to create metafield with `c_f` as namespace, and

[2016-06-03 12:50] dexcell commented on #32
Oh, i found the problem!

It looks like i am still using old chrome extension! (THE PINK ONE)
Sorry for the trouble. Maybe you should take the old one down from chrome appstore, since it's shown up on google search result and may lead to missunderstanding.

Thank you for the extension 👍

[2016-06-03 16:42] freakdesign commented on #32
@dexcell The pink one is **Custom Fields**. It's not an old one, though if you're comparing it to ShopifyFD it is different. [ShopifyFD](http://shopifyfd.com/) does more than than just metafield editing. Custom Fields only does metafield editing.

There is a specific setup for Custom Fields (as noted in the help PDF) A few people miss this step, or do it incorrectly. I'll improve the docs to cover

[2016-06-04 03:09] dexcell commented on #32
Thank you, amazing explanation

[2016-06-08 12:23] yeomann commented on #32
I am sorry didn't work for me i install extension through this url and also the shopifyfd extension https://chrome.google.com/webstore/detail/custom-fields-for-shopify/alfplfpobekffinigeidgmmfjollghln
i went to settings and created meta field. check attachment ![img](http://i.imgur.com/e16GVWb.png)
afterward i went to products and no luck. Let me know show what i see. ![productimg](http://i.imgur.

[2016-06-08 12:33] freakdesign commented on #32
You have not used the namespace of `c_f` nor `custom_fields`. If you want to use a different namespace you need to set things up to work that way. Using a custom namespace is mentioned in the (small) [help PDF](https://freakdesign-us.s3.amazonaws.com/shopify/custom_fields/freakdesign-custom-fields-for-shopify-guide.pdf).

![image](https://cloud.githubusercontent.com/assets/1378665/15894350/d169eba

[2016-06-08 12:33] #32 closed

[2016-07-07 21:02] dabernathy89 commented on #12
Seconding this - @freakdesign, any chance that the source JS could be included in the repo to better facilitate community contributions?

[2016-07-11 21:01] perspektiveweb commented on #23
This also happens in Firefox. Thanks Colin for sharing your approach.

[2016-07-11 21:19] perspektiveweb commented on #23
For anybody who has a hard time putting that bookmarklet together... here the bookmarklet for my shopify:

`javascript:(function()%7Bvar%20gaJs%20=%20document.createElement(%22script%22);gaJs.type%20=%20%22text%2Fjavascript%22;gaJs.src%20=%20%22https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F7381%2F0541%2Ffiles%2Ffreakdesign_custom_fields.min.js%3F7916606269471937657%22;document.getElementsByTagNa

[2016-07-12 01:26] freakdesign commented on #23
The above is concise and well explained. Much appreciated @perspektiveweb
Why the addition of the querystring? Merely to add a basic cache busting in?

[2016-07-13 17:58] lmartins opened #33 "Fields editor box not showing in Settings"
Until recently I could use Chrome's extension to load a settings box in Shopify's preferences that would allow me, among other things, configure the whitelist setting.

Currently I can't make that box appear, no matter what I try. Just me or is this a know issue?

[2016-07-13 23:16] freakdesign commented on #33
@lmartins This tool does not load anything on the preferences pages. Although minified, you can see the url filtering near the end of the code.

To save you hunting through the code, the only pages that the tool runs on are:

- articles
- pages
- products
- customers
- orders
- collections
- smart_collections
- custom_collections

There has been thoughts of adding CF to the preferences page, but i

[2016-07-13 23:25] lmartins commented on #33
hi, thanks for your feedback.
I should also apologize as I should have made a better job explaining my steps. I am using both extensions, including FD, but no matter what I can't replicate previous behaviour. Im away from the computer but I'll try tomorrow to spot any errors and see if I can provide more info here.

Thanks again.

Sent from my iPhone

[2016-07-14 13:34] perspektiveweb commented on #23
Good point. That's unnecessary and should be removed.

It's about the number after the file name and question mark. Both should be removed to allow for caching. Thanks Jason.

Sent from my iPhone

[2016-07-14 18:01] lmartins commented on #33
@freakdesign you wont believe this but I was banging my head on this for the last 2 days, without any luck. Today, went to try it again and provide more details here and it worked. Go figure...

![screenshot 2016-07-14 19 00 18](https://cloud.githubusercontent.com/assets/151981/16850065/3b0e6bc4-49f5-11e6-9781-adfd1ae73d4a.png)

[2016-07-14 18:01] #33 closed

[2016-08-04 23:09] synfrag opened #34 "Chrome Extension Save Issue"
Hey, just started using these extensions and they're great. I'm running into an issue where after saving a product in shopify, everything disappears and you have to cycle forward and back to the item to reload the extensions. It's occurring on both Win and OSX.

It looks like the last commit was 6 months ago so I'm not sure if you're continuing to update the project.

[2016-08-05 01:14] freakdesign commented on #34
When you save something in the Shopify Admin it may do an Ajax partial load of the changed content, or a full page reload. It differs view to view. For the full reload, any of the scripts or css we added into the page are removed so the tool needs to be run again.

This isn't something the extension will be able to control.

Whilst I have very briefly considered adding auto-run properties into the

[2016-08-05 01:50] synfrag commented on #34
I assumed Shopify was doing Ajax reloads but I figured the extension would pick up that something wasn't loaded and error out to its off state. Thinking about it that's sounds like a lot of work liable and likely to break. Makes sense, thanks for getting back so quick.

[2016-08-31 17:36] steve-ross opened #35 "Post the non-minified version / source to let community submit new features"
Can you post the source for this project so people can submit PRs?

[2016-09-13 18:33] softlimit commented on #30
@freakdesign Seems like this issue may be rearing it's head again? I have a metafield that has been working a-ok since the previous discussion... stopped working within the past few days. Seems fine if I drop down to only using [p], but as soon as [v] is in play, the custom field disappears. Are you seeing the same thing?

[2016-09-13 19:26] freakdesign commented on #30
If I setup a metafield with [v] I see this in the admin in Chrome:
![image](https://cloud.githubusercontent.com/assets/1378665/18488142/2e776f54-79c6-11e6-93a8-5c54a5d8de58.png)

That used the setup metafield of `c_f.prepped-earlier` and the value of `[v] Here's a field I made earlier...`.

If you don't see that let's get some info on the setup metafield and browser so I can try and replicate what

[2016-09-13 19:38] softlimit commented on #30
@freakdesign You are totally right. Sorry. I had expected to see the Product Custom Field on a product that didn't have any variants and didn't realize that, even sans variant, the product page was loading the CF down at the variant section. My bad. Issue resolved... user error. Thanks for investigating!

[2016-09-13 19:38] #30 closed

[2016-10-03 21:19] stewartknapman commented on #21
Super helpful plus 1 to show my interest in this.

[2016-10-03 21:21] stewartknapman commented on #9
Another helpful plus 1 to show my interest in this, also.

[2016-11-29 20:11] chryton opened #37 "Empty Value Should Wipe Value"
Been noticing that if I need to turn something "off" by removing a value from a field (such as making a text input empty) that does not save or remove the metafield.

The only way to do this would be to go into FD and remove the generated metafield.

This is overall slightly confusing user experience as why should a user have to use another too to just reset/remove a value from a field and leave t

[2016-11-30 16:12] freakdesign commented on #37
Thanks for the heads up.

I always thought that blanking the field did remove it, but it's possible that's all a dream. I wasn't planning on adding many more mods to this version, but this seems like a valid thing to add now.

[2017-01-16 02:00] freakdesign opened #38 "Add support for customer only metafields"
As the title says. Look to add support for a customer only metafield.

[2017-02-06 14:51] Jerad-M opened #40 "Shopify Refusing to Load Custom Fields Tool"
Shopify appears to be rejecting the request to the script as unsafe (running from a bookmarklet, not the extension).
![shopify_custom_fields](https://cloud.githubusercontent.com/assets/14872608/22651674/d4d8c82c-ec51-11e6-981b-19f49dbf3b05.png)

[2017-02-06 15:02] freakdesign commented on #40
@Jerad-M Amazon S3 is no longer on the whitelisted domain list. Try using the link at the bottom of [this page](https://freakdesign.com.au/pages/shopify-custom-fields) for a version hosted on Shopify.

[2017-02-06 15:21] Jerad-M commented on #40
That does the trick, thanks!

[2017-02-06 15:22] #40 closed

[2017-02-09 10:26] tomkeysers opened #41 "Support custom fields for blogs?"
First of all, massive thanks for your metafield tools.

I noticed that custom fields aren't supported for blogs (not the articles, but the actual blogs). However basic metafield editing with ShopifyFD for blogs is supported though.

Are there any plans for supporting this?

[2017-03-01 11:01] JumpLink opened #42 "HTML Fields"
Can I find the sourcecode anywhere? I would like to create a Pull Request to add support for HTML Fields but thats not possible without the sourcecode.
Nevertheless, thank you for this app!

[2017-04-18 23:50] #12 closed

[2017-05-09 02:57] omicreative commented on #41
What would be an example of a blog level metafield use @tomkeysers

[2017-05-09 03:00] omicreative commented on #21
Is there an update on the roadmap?

[2017-05-25 14:37] chryton commented on #37
@freakdesign  Just checking in to see if this has been investigated at all. Still running into the issue on stores.

If there was unminified/source code, I or someone on my team could help debug the issue and submit a PR.

[2017-06-07 15:29] ktaftaf opened #43 "Polaris update breaks the Custom Fields extension"
I cant get any fields to show up after the polaris update. Was curious if this was an issue you were aware of, or if I'm the only one having this problem.

[2017-06-08 01:06] freakdesign commented on #43
It's a known issue and you won't be the only one experiencing it. Working on ShopifyFD at the moment, but will jump onto Custom Fields soon.

I appreciate you making the issue regardless. Will be helpful for others to see.

[2017-06-08 17:42] freakdesign commented on #37
I tested this (briefly) and didn't see the same result. I followed these steps:

- created a metafield on a collection using the extension
- reloaded the collection (and ran the tool again)
- double checked the metafield existed with ShopifyFD
- cleared the field value in Custom Fields and saved
- reloaded the collection (and ran the tool)
- The field was empty and ShopifyFD reported no metafield.

[2017-06-09 03:31] chryton commented on #37
Here is a screencast of what I am seeing on a test store: http://i.rocktc.de/tYAJET/31XiRHn2

[2017-06-09 07:41] freakdesign commented on #43
The Polaris update (https://github.com/freakdesign/shopify-custom-fields/commit/fba000a22cf3c7fe8226c83cb2b743bd656a7a78) should see better results here. Clear the cache and give it a try when ready.

[2017-06-09 07:41] #43 closed

[2017-06-09 11:06] freakdesign commented on #37
That's most curious. I don't get the same result at all. Let's take a quick peek at your network logs and see what actions are actually firing. In your video there should be a metafield delete call being made. If not, or if it returns some error - that will help give me some starting clues to replicate.

[2017-06-26 16:10] chmelevskij opened #44 "Is there a plan for [_p] option?"
Hi, was wondering if the product selection option will be added any time soon?

[2017-07-19 09:11] Mobashir1995 opened #45 "Custom Field not found"
After every time of reloading my browser, Custom Field tab will disappear from my shopify admin. Can anyone please help me how can I solve this issue? I also don't find any Custom Field option under "SETTINGS > GENERAL" to add any field.
Thanks for any help

[2017-07-19 09:16] freakdesign commented on #45
There's nothing to solve here. The Chrome extension is run manually by the user. If the browser or tab reloads then then custom JavaScript added to the page is removed. There is no plans to make the tool run automatically.

In the instructions it would have said to use a ShopifyFD for that (or any other metafield editing tool of your choice).

[2017-07-19 09:39] tomkeysers commented on #41
@omicreative e.g. a field where I could fill in an array of images to create an image gallery on the blog overview page, relevant to only that blog.

[2017-07-19 10:26] Mobashir1995 commented on #45
That's looking great. Now it is working for me on chrome. But I can't be able to use it on other browsers.
I also want to know something from you.
Don't you think it is necessary to run the tool automatically? Because after save any product, page, collection, or settings we'll need to click on the bookmark icon to reload it. It is boring for many persons to do the same things again and again. So,

[2017-07-19 10:42] freakdesign commented on #45
Some pages in the Shopify Admin will reload the page entirely. Others won't do a full reload since the content is loaded with AJAX.

I do 100% understand why autoload would be convenient and I had considered adding it. I opted against that.

Having it autoload would require additional permissions to be set on the extension that I don't want to see. Right now the extension requires zero permissions

[2017-07-19 10:47] freakdesign commented on #41
That's along the lines of what I expected.

ShopifyFD does this now but Custom Fields hasn't had the feedback to suggest this is a wanted thing. Thanks for the insight. I'll look into adding it but for now, ShopifyFD will get you sorted.

[2017-07-19 11:59] Mobashir1995 commented on #45
That's fine. Can you please tell me how I can I use it on other browsers.
And which part of code should I need to change to customize it for autoloading.

[2017-08-30 10:01] etamaro opened #46 "Unable to generate new custom fields"
I went to /admin/settings/general and didnt see any dialog for creating new metafields.
Tried clicking the chrome extention icon, it loads the custom fields icon on the left, but still no dialog. Am i doing something wrong?

[2017-08-31 08:51] freakdesign commented on #46
You're not doing anything wrong. The custom field script doesn't have the ability to create the metafields on the settings page. The new version will since people seem to want it.

If we look back at the history of the tool it was only every intended for developers to give to their customers (aka, the merchant). The developer would have **already** set up the fields so the client would never need

[2017-09-22 00:36] SimonEast commented on #46
OK, I just got really confused about this, because the [PDF guide](https://freakdesign-us.s3.amazonaws.com/shopify/custom_fields/freakdesign-custom-fields-for-shopify-guide.pdf) that new users are directed to specifically says you can go to `/admin/settings/general` to create new fields. Perhaps that section should be removed from the PDF.

[2017-09-22 04:17] freakdesign commented on #46
Second page of the PDF mentions that we'll be using ShopifyFD. I can look at making that clearer - but won't be removing the section.

[2017-09-25 21:10] TheInterwebbers opened #47 "Variant Custom Field Buttons hidden on Chrome"
Buttons to edit variant specific custom fields being hidden on product pages.

![screen shot 2017-09-25 at 5 07 30 pm](https://user-images.githubusercontent.com/9425785/30831194-9341ff36-a214-11e7-8d8c-8fadf59aeff3.png)
^Where be those variant custom field buttons?

![screen shot 2017-09-25 at 5 07 42 pm](https://user-images.githubusercontent.com/9425785/30831200-9b1b19a4-a214-11e7-8d51-c28b8b3770

[2017-10-05 01:38] garretthyder opened #48 "[Feature Request] Support Hidden/Draft pages"
Hello,

Firstly THANK YOU so much for your extensions they're magnificent and work fabulously.

I have them working with a custom field added to a page. When the page is published the custom fields appear, however when I hide the page during development the fields don't appear.

Not sure if this is a Shopify issue or something with the extensions implementation. If this is Shopify let me know and

[2017-10-05 01:44] garretthyder opened #49 "[Feature Request] Global Fields"
Hello,

Can I request support for Global Custom Fields so I can add settings globally for the entire site.
My Use Case being a call to action banner that's on all pages that I would like to enable with custom fields so the client is able to edit.

Thank you

[2017-10-14 10:24] LindaL112 opened #50 "Can I add Images"
Hi,

Is it possible to add an image to a metafield so that it shows the image on the product page?

I've created the field and added the code - but when I add the link to the image it just shows the link on the product page and not the image.

Thanks
Lind

[2017-10-14 10:28] #50 closed, assigned to nobody

[2017-10-14 10:28] LindaL112 commented on #50
Apologies - didn't realise I could write html into the fields - doh!

[2017-11-01 19:33] DianaZeig opened #51 "Custom Field dont always load"
Pop up states that the custom field have been loaded... yet they are no where to be found. This happens 3 out of the 10 times that i use it.

This app is amazing when it works!

[2017-11-02 17:12] tng10 commented on #28
Hey @freakdesign,
Do you think is possible to have _datetime_ field as well?
http://w3c.github.io/html-reference/input.datetime-local.html

[2017-11-04 10:19] freakdesign commented on #51
I noticed some similar side effects in ShopifyFD so I had needed to delay some of the processes. I'd assume that the Shopify Admin isn't loading the html elements as fast as it did so the scripts on the extension side are being called to early.

I've got some thoughts on how to better approach this. Thanks for the heads up.

[2017-11-06 13:36] DianaZeig commented on #51
Hum, how long is the delay? Maybe I’m not as patient as what you have it set for lol.

This is how I am currently getting around the issue. Not sure if this will help you diagnose the problem.

Goal add new product.

1. Duplicate similar product.
2. Change all shopify html and built data fields
3. Save shopify.
4. Search the product using the product name
5. Click the “load custom fields" button -

[2017-11-17 10:32] metaxy opened #52 "Not visible in Settings"
I installed the plugin. But when i try the set some meatfield in `admin/settings/general` it wont't show any UI.
I does load the script and calls the api (successfully)
![screenshot_20171117_113152](https://user-images.githubusercontent.com/82704/32942974-ed56bf80-cb8a-11e7-88ef-c6bc56e52eab.png)

[2017-11-19 07:45] freakdesign commented on #52
This seems related: https://github.com/freakdesign/shopify-custom-fields/issues/33

To reiterate, the Custom Fields extension doesn't add UI in `admin/settings/general`. You'll need to use other tools to create the setup metafields. Since more people are wanting to manage them all in the one tool The next full release version (so not minor update) of Custom Fields will have it built in.

[2017-11-19 07:45] #52 closed, assigned to nobody

[2017-11-28 05:45] eddyparkinson commented on #51
"ShopifyFD Dashboard Tool" worked but "Custom Fields for Shopify"  did not work.

I started with chrome extension "Custom Fields for Shopify" -

I tried the:

but only the menu item "Custom Fields" on the left came up. No "Metafields" panel came up.

Next I tried the "ShopifyFD Dashboard Tool" and all worked as shown in the docs. I got
 the "Metafields" panel etc and could add values.

Is it relat

[2018-02-08 22:13] asyncopation commented on #12
Hi all, just stumbled upon this plugin.  Why was this issue closed?  Fields with predetermined options (dropdown) would be immensely useful.  Thanks.

[2018-03-15 18:45] MisinformedDNA commented on #35
@freakdesign Is there a plan to do this?

[2018-03-22 10:52] freakdesign commented on #35
@MisinformedDNA
The code is going to need a decent rewrite shortly so would have some concerns about doing that at this stage. Whatever is released will change, potentially drastically.

Certainly would consider it if the desire from others is really there but would prefer to just make a brand new repo of the general framework so others can roll their own.

It needs some thought.

[2018-06-20 21:56] hoghug opened #53 "setup_custom_fields() : target html not found"
Today, I started getting this error on certain blog posts I am trying to edit. Pops up right away and doesn't allow me to edit the custom fields. The custom fields fail to appear.

![image 1](https://user-images.githubusercontent.com/6405882/41686718-f26175e8-7499-11e8-896f-c7c657c585bd.png)

[2018-07-21 03:08] DaveLak commented on #35
If you're hesitant to add the un-minified code to this repo maybe post it as a Gist and link it in the README or Wiki? I've only just come across this repo and as exciting as I think it is, I'm hesitant to install an extension or bookmarklet that pulls executable code from GitHub or Amazon S3 with the intention of executing it in the admin context of any website.

I, and I'm sure others, would lov

[2018-07-21 03:26] DaveLak opened #54 "Add a License to This Repo?"
The shopifyFD repo is [explicitly licensed under the MIT license](https://github.com/freakdesign/shopifyFD/blob/master/LICENSE). Could you add an explicit license to this repo as well?

[2018-08-01 12:05] StudioShand commented on #53
This is happening for me on product pages too. I'm also having similar issues with Shopify FD, I can't access or edit the custom fields I already have setup.

[2018-08-22 18:52] namwen commented on #4
I'm curious if you have any intention of opening this up again @freakdesign . This app is incredibly useful and I'd love to see it get more love. I'm sure there are others who would be happy to contribute as well.

[2018-08-27 22:51] ghost opened #55 "Metafield Liquid Usage"
I created a featured artists page, and I would like to use metafields to enter a title below the name of the collection. I created a custom field named "title" and I am using this to output the value on the page:

{{ collections.metafields.c_f.title }}

But, nothing is coming up and I'm not sure why. Any help would be appreciated

[2018-08-27 22:57] #55 closed, assigned to nobody

[2018-10-29 19:30] kevin-morton opened #56 "New Shopify Collections UI doesn't allow Custom Fields' UI card to load"
Hey Jason, it looks like a new UI from Shopify in the Collections admin is preventing the Custom Fields card from showing there. I get the "Custom Fields tool loaded" message, but no UI card showing in the DOM. Still shows fine in Products admin.

The collection admin UI changes look minimal (the Collection Image and Products cards look a little different), but I've gotten reports from store owner

[2018-10-30 17:57] softlimit-ben opened #57 "Variant [v] Options not Displaying"
Hi Jason,
It seems like the [v] level metafields aren't displaying in one of our client's stores (i haven't checked around to see if this is universal or not yet). Basic [p] level are fine. Any ideas? Are we better off pushing over to ShopifyFD at this point or...?

Thanks,
Ben

[2018-10-30 18:16] namwen commented on #57
Same here @softlimit

Shopify must have pushed a change within the last 30 minutes. I was working on some metafields and the tool was working fine when it suddenly stopped displaying the variant fields.

[2018-10-31 15:08] jworkman commented on #57
I am experiencing the same thing on my end.

[2018-10-31 15:24] kevin-morton commented on #57
Same issue. Happened around the same time that [c] collection level metafields stopped appearing too: Issue #56

[2018-10-31 20:25] taylor-a-barnette commented on #56
The tool is not loading on any of the stores I work on, which is 10 +. Shopify FD is not working either.

[2018-11-01 17:43] kevin-morton commented on #56
@freakdesign, I can also confirm that Shopify FD is not working to load fields either, in addition to Custom Fields for Shopify.

More reports have been posted now on the [Extension's support page](https://chrome.google.com/webstore/detail/custom-fields-for-shopify/alfplfpobekffinigeidgmmfjollghln).

[2018-11-02 12:36] lindseybradford commented on #57
Sadly, me too. If you turn on the Load Shopify FD tool inside the individual variant, you can access it. But it's slow and tedious. Any faster work arounds or plans to fix this?

[2018-11-02 13:05] lindseybradford commented on #57
Hey everyone:

https://freakdesign.com.au/blogs/news/shopifyfd-and-the-current-case-of-the-broken-tool

In the meantime, this is a fine workaround: https://apps.shopify.com/metafields-editor

FYI: Don't search by product title, use product handle.

[2018-11-12 17:32] ghost commented on #57
following this
thanks!

[2018-11-14 18:48] namwen commented on #57
I'd like to follow up on this and say that the new version shouldn't be minified and should take a more traditional open source route.

It's a huge bummer that Admin changes break this tool, but that's to be expected, and something that myself and surely others would be happy to jump in and fix when it occurs. As it is now that's not really possible with the minified and unreadable code. Thoughts

[2019-02-01 21:40] lindseybradford commented on #57
Just wanted to see if there was an estimated timeline you're shooting for on patching the issue with Shopify's dom changes? I think many clients would be willing to pay money to see this working again—just a thought! Huge pain point for my client right now. Fantastic tool though! Keep it coming!

[2019-02-02 00:40] kevin-morton commented on #57
@lindseybradford, not to take this thread off track, but in case it's helpful for your client [here's the solution](https://community.shopify.com/c/Shopify-Design/Adding-Custom-Fields-to-the-Shopify-Dashboard/m-p/140907/highlight/true#M39415) I switched over to for my clients. Bonify (which has a free plan) worked with my feedback to add these custom namespace settings to their app. It's a pretty

[2019-07-31 16:59] HandHugs commented on #56
also not working for any of my client's stores. Looks like the admin is silent? @freakdesign ?

[2019-07-31 17:15] taylor-a-barnette commented on #56
I don't think he maintains this anymore due to some mods Shopify made that
broke his product. There are other solutions, like Metafields Master by
HulkApps (which I use, it's fine). I'd give those a shot or build your own.

On Wed, Jul 31, 2019 at 10:59 AM Jessie Matanky <notifications@github.com>
wrote:

[2019-08-13 15:15] brantleyenglish opened #58 "setup_Custom_fields(): target html not found on Collections page"
![Screen Shot 2019-08-13 at 10 11 36 AM](https://user-images.githubusercontent.com/25647213/62953332-f2645200-bdb2-11e9-9dfc-d355452b65ac.png)

Custom fields are not loading on collections page.

[2019-09-09 19:15] viperouge commented on #58
is this going to be fixed?

[2019-09-10 22:57] adriennespragg opened #59 "setup_Custom_fields(): target html not found on Product page"
I cannot get the tool to work in my Product pages any longer either.

![image](https://user-images.githubusercontent.com/55162690/64656236-acb39d00-d3e3-11e9-9ad3-da15d331e001.png)

[2019-09-11 10:02] m-w-d-d commented on #59
Can confirm that this is happening to my stores too.

[2019-09-11 13:23] miketheuncle opened #60 "Javascript not found"
Hello.  When I try to open Custom Fields I get the error message "Shopify javascript is not found. Are you in your admin?"   Thanks.

[2019-09-12 16:15] gbrandallen commented on #58
Just wondering if there was any headway on this?

[2019-10-07 19:46] bocktoberfest opened #61 "Custom Fields error : setup_custom_fields() : target html not found"
I see some similarly named issues open right now, but I believe this one is slightly different. I'm seeing a "Custom Fields error : setup_custom_fields() : target html not found" error message when I attempt to use the extension on product admin pages.

I believe this is occurring due to a recent design update that has not yet rolled out to all Shopify stores. I work on multiple stores and this er

[2019-11-04 09:31] oddpanda commented on #61
I'm getting the exact same error.

[2019-11-21 22:26] sinak commented on #61
Same issue. Anyone have a solution?

[2019-12-02 20:53] sinak commented on #61
If you can give us unminified code @freakdesign I'd be happy to fork and fix ...